name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: pdo, sqlite3, dom, curl, libxml, fileinfo
        coverage: none

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Check Coding Standards
      run: composer cs:check

    - name: Run PHPStan
      run: composer phpstan

    - name: Run Tests
      run: composer test
